@import "compass";

input[type='checkbox'] {
	@include appearance(none);
	@include background-image(linear-gradient(top, rgba(255,255,255,.7), rgba(201,201,201,.7)));
	@include background-origin(border-box);
	@include border-radius(3px);
	@include box-shadow(0 0 1px rgba(255,255,255,.35));
	@include box-sizing(border-box);
	@include inline-block;
	background-color: #eee;
	border: 1px solid rgba(100,100,100,.5);
	height: 13px;
	margin: 0 3px;
	outline: none;
	position: relative;
	top: 2px;
	vertical-align: baseline;
	width: 13px;
}
input[type='checkbox']:disabled {
	opacity: .75;
}
input[type='checkbox']:not(:disabled):not(:active):hover {
	background-color: #fff;
}
input[type='checkbox']:not(:disabled):active {
	@include box-shadow(0 0 1px rgba(255,255,255,.35), 0 1px 3px rgba(0,0,0,.2) inset);
	background-color: #bbb;
	border-color: rgba(100,100,100,.8);
}
input[type='checkbox']:checked::before {
	-webkit-user-select: none;
	background: {
		image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDBhYcG79aGIsAAACbSURBVBjTjdFBCkFhFAXgj4fp24PBy0SZ2ICRXRgYGb2xlKzBSEo2YgsiKWVoZgFKMjD5X/2Ux6lb99bpnNO5lKMR5i8MsEQHkhJiEzlS9HCqfiFWMUIt3AfsC3KKLCL30Qr7HfM4Ro4h6rhiEqmusIMKuphGqo+ogSPGcbYLzh91vdkXSHDDBk+0gxussS3rNcMCs+D6E18/9gLPPhbDshfzLgAAAABJRU5ErkJggg==");
		position: center;
	}
	color: #000;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}