$font_body: "Lucida Grande", "Segoe UI", "Tahoma", "Arial", sans-serif;
$font_code: "Menlo", "Consolas", "DejaVu Sans Mono", "Courier", monospace;
$font_heading: $font_body;

$font_size: 13px;

$body: #000;
$body__bg: #fff;

$blockquote: #444;

$heading: $body;

$link: #1525ab;
$link_visited: #680094;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;	
	background: $body__bg;
	color: $body;
	font: {
		family: $font_body;
		size: $font_size;
	}
	line-height: normal;
}

a {
	color: $link;
	text-decoration: none;

	&:visited {
		color: $link_visited;
	}

	&:hover, &:active, &:focus {
		text-decoration: underline;
	}
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: $heading;
	font: {
		family: $font_heading;
		style: normal;
		weight: 700;
	}
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

pre, code, kbd, samp {
	font: {
		family: $font_code;
		size: inherit;
	}
}

blockquote {
	color: $blockquote;
	font-style: italic;
	margin: {
		left: 40px;
		right: 0;
	}
}

hr {
	background-color: #e0e0e0;
	border: none;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

dl, dt, dd {
	margin: {
		left: 0;
		right: 0;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul, ol {
	list-style: disc outside;
	padding: 0 0 0 40px;
	margin-left: 0;
	margin-right: 0;
}

ol {
	list-style-type: decimal;
}

input, textarea, button, select {
	font-size: inherit;
}
